* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f5f5f5;
    margin: 0;
}

.header {
    padding: 1em;
    color: #fff;
    background: #222;
}

.container {
    padding: 1em;
    max-width: 600px;
    margin: 2em auto;
    background: #fff;
}